body {
  background-color: black;
}

h1 {
  color: blanchedalmond;
  font-family: monospace;
}
h2 {
  color: blanchedalmond;
  font-family: monospace;
}
h3 {
  color: blanchedalmond;
  font-family: monospace;
}
h4 {
  color: blanchedalmond;
  font-family: monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.child1 {
  height: 300px;
  width: 75%;
  border: 1px solid orangered;
  border-radius: 25px;
}

.car {
  height: 500px;
  width: 200px;
}

.cigarette {
  height: 300px;
  width: 200px;
  border-radius: 25px;
}