body {
  background-color: #CCCC66;
  cursor: url('/Users/ceciliaknaub/Documents/GitHub/ugly-website/assets/img/corkboard.png'), pointer;
}

h1 {
  color: blanchedalmond;
  font-family: monospace;
  text-align: center;
}

h2 {
  color: #996633;
  font-family: monospace;
  text-align: center;
}

h2:hover {
  color: red;
}

p {
  color: #663366;
}

.list-header {
  list-style: none;
  margin-bottom: 0px;
  color: #663366;
}

.container {
  display: flex;
  justify-content: center;
}

.child {
  border: 3px solid #663366;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #996633;
  background-color: #CCCCFF;
  width: 60%;
  margin: 25px;
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 5px dotted #ed9838 ;
}

ul {
  list-style-image: url('/Users/ceciliaknaub/Documents/GitHub/ugly-website/assets/img/flower (2).png');
}

li {
  color: #996633;
  font-family: cursive;
}

.list-item:hover {
  color: #ed9838;
}

#list {
  background-color: #CCCC66;
  border: none;
  width: 20%;
}

